@{
    ViewData["Title"] = "Home Page";
}

@model WebApp.ViewModel.ResponseLogin


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-4">MCC-71</h3>
</div>

<form method="get">
<label name="FullName" type="text" />
<label name="BirthDate" type="text" />
<label name="Role" type="text" />
</form>
