
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ChangePassword</h1>
<form method="post" asp-action="ChangePassword">
<b>Passsword baru</b>
<input name="password" type="password" />
<b>Ketik ulang password baru</b>
<input name="passwordConfirm" type="password" />
<button type="submit">Submit</button>
</form>