@model WebApp.Models.User

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Forgot Password</h1>
<form method="post">
    <b>Full Name:</b>
    <input name="FullName" type="text" />
    <b>Email:</b>
    <input name="Email" type="text" />
    <b>Birth Date:</b>
    <input name="BirthDate" type="date" />
    <button type="submit">Submit</button>
</form>

<h3>Your Password:</h3>
<dd class = "col-sm-10">
    @Html.DisplayFor(model => model.Password)
</dd>

