@model WebApp.Models.User;
@{
    ViewData["Title"] = "NewPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>NewPassword</h1>

<form method="post" asp-action="NewPassword">
    <input type="hidden" asp-for="Id" name="UserID" />
    <input name="newPass" type="password" />
    <button type="submit">Submit</button>
</form>